
.carousel-aside {
	display: flex;
	overflow: auto;
	white-space: nowrap;
}

.item-aside {
	flex: 1 0 auto;
	margin: 0 20px;
	width: 18%;
	scroll-snap-align: center;
	border-radius: $border-radius-xl;
	text-align: center;
}
* {
	scrollbar-width: thin;
	scrollbar-color: $primary $secondary;
}


*::-webkit-scrollbar {
	width: 12px;

}

  *::-webkit-scrollbar-track {
	background: $secondary;
}

  *::-webkit-scrollbar-thumb {
	background-color: $primary;
	border-radius: 20px;
	border: 3px solid $secondary;
}

.item-aside img {
	pointer-events: none;
	width: 100%;
	align-items: center;
}

@media (max-width: 768px) {
	.item-aside {
		margin: 0 10px; /* Margen reducido */
	}
}
@media (min-width: 768px) {
	.item-aside img {
		width: 50%;
	}
}



.item-aside:hover {
	cursor: pointer;
}
