
.carousel-aside {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	user-select: none;
	white-space: nowrap; /* Evita saltos de línea */

}

.item-aside {
	flex: 1 0 auto;
	margin: 0 20px;
	width: 18%;
	scroll-snap-align: center;
	-webkit-user-drag: none; /* Deshabilita la capacidad de arrastrar las imágenes en navegadores WebKit */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: $border-radius-xl;
	text-align: center;
}
.item-aside img {
	pointer-events: none;
	width: 100%;
	align-items: center;
}

@media (max-width: 768px) {
	.item-aside {
		margin: 0 10px; /* Margen reducido */
	}
}
@media (min-width: 768px) {
	.item-aside img {
		width: 50%;
	}
}

/* Eventos de ratón */
.carousel-aside:active {
	cursor: grabbing; /* Cambia el cursor al hacer clic */
	cursor: -webkit-grabbing;
}

.item-aside:hover {
	cursor: pointer;
}

.carousel-aside:active .item-aside {
	cursor: grabbing;
	cursor: -webkit-grabbing;
}
