/*
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
*/

$input-bg: #00eeff00;
$input-border-radius:none;
$input-color:white;
$input-focus-box-shadow:none;
$form-select-indicator:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#00eeff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");


$secondary: #1a3d7d;
$primary: #00eeff;
$dark : #132a55b6;
$blueShadow:#4444dd;
$myblack :#1f1f1f;
*{
	color:#fbfbfe;
}
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../style/carouselAside.scss";

.shadow-white{
	box-shadow:  0px 0px 40px 5px $white;
}

@mixin blueGlass(){
	background: rgba(26, 61, 127, 0.45);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border: 1.5px solid rgba(209, 213, 219, 0.3);
}

//Carrulser imágenes
@include media-breakpoint-only(xs){
	.bg-image-carousel{
		height: 400px;
		filter: blur(5px);
	}
	.image-carousel{
		filter: drop-shadow(0px 00px 10px $blueShadow);
		border-radius: 20px;
		height: 360px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	.frame-production{
		height: 400px;
	}
}
@include media-breakpoint-only(sm){
	.bg-image-carousel{
		height: 400px;
		filter: blur(5px);
	}
	.image-carousel{
		filter: drop-shadow(0px 00px 10px $blueShadow);
		border-radius: 20px;
		height: 360px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	.text-carrusel{

		@include blueGlass();
		border-radius: $border-radius-xl;

	}
	.frame-production{
		height: 400px;
	}

}
@include media-breakpoint-only(md){
	.bg-image-carousel{
		height: 500px;
		filter: blur(5px);
	}
	.image-carousel{
		filter: drop-shadow(0px 00px 10px $blueShadow);
		height: 460px;
		border-radius: 20px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	.text-carrusel{
		@include blueGlass();
		border-radius: $border-radius-xl;


	}
	.frame-production{
		height: 500px;
	}

}
@include media-breakpoint-only(lg){
	.bg-image-carousel{
		height: 650px;
		filter: blur(5px);
	}
	.image-carousel{
		filter: drop-shadow(0px 00px 10px $blueShadow);
		border-radius: 20px;
		height: 600px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	.text-carrusel{
		@include blueGlass();
		border-radius: $border-radius-xl;

	}
	.frame-production{
		height: 650px;
	}
}
@include media-breakpoint-only(xl){
	.bg-image-carousel{
		height: 650px;
		filter: blur(5px);
	}
	.image-carousel{
		filter: drop-shadow(0px 00px 10px $blueShadow);
		border-radius: 20px;
		height: 600px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	.text-carrusel{
		@include blueGlass();
		border-radius: $border-radius-xl;


	}
	.frame-production{
		height: 650px;
	}
}
@include media-breakpoint-only(xxl){
	.bg-image-carousel{
		height: 700px;
		filter: blur(5px);
	}
	.image-carousel{
		filter: drop-shadow(0px 00px 10px $blueShadow);
		border-radius: 20px;
		height: 660px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	.text-carrusel{
		@include blueGlass();
		border-radius: $border-radius-xl;

	}
	.frame-production{
		height: 800px;
	}
	main{
		min-height: 80vh;
	}
}
.frame-production{
	margin: 0px;
	padding: 0px;
}

.shadow-aside{
	box-shadow:  0px 0px  20px $white;
}

.item-list{
	margin: 0;
	padding: 0;
	min-width: 260px;
	text-align: center;
}


#logo{
	cursor: pointer;
	display:inline;
}

.img-production-synosis{
	max-width: 500px;
}
.image-carousel:hover ,.image-cat:hover{
	cursor: pointer;
}

.bg-blue-glass{
	background: rgba(26, 61, 127, 0.45)!important;//para poder asignar el color, si no me asigna el de la clase de bootstrap
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border: 1.5px solid rgba(209, 213, 219, 0.3);
	box-shadow:  0px 0px  4px $white;
}

.category-film div h4{
	transition: background-color 0.2s;
}
#category-film div h4:hover{
	cursor: pointer;
	background-color: $primary !important;
}

#actors,#directors,.person,.image-production{
	cursor: pointer;
}

.bg-transparent{
	background-color: #ffffff00 !important;
}

//le añado un borde transaparente para que al añadir el borde blanco después no se note el cambio de tamaño
.item-list{
	border: 1px solid rgba(255, 255, 255, 0);
	transition: border 0.2s ,box-shadow 0.2s ,transform 0.2s;
}
.item-list:hover{
	border: 1px solid white;
	box-shadow:  0px 0px 10px 10px $myblack;
	transform: scale(1.03);
}
.image-cat{
	margin-top: 1.0rem;
}

#close-Windows:hover{
	cursor: pointer;
}

.bg-background{
	background-color:$secondary;
	background-image:
	radial-gradient(at 64% 18%, #226377 0px, transparent 50%),
	radial-gradient(at 32% 81%, #5e53f3 0px, transparent 50%);
}


//Edición formulario


.bg-form{

	background: $secondary;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(9.9px);
	-webkit-backdrop-filter: blur(9.9px);
	border: 1px solid rgba(68, 0, 250, 0.3);
}

.color-bg-input{
	background-color: #1a3d7d41;
	border-radius: 0.5rem;
	padding-bottom: 10px;
	color:white;
	input{
		width: 90%;
		margin-left: 5%;
	}
	label{
		width: 90%;
		margin-left: 5%;
	}
}

select, option  {
	//background-color: $secondary;
	color: black;
}

.person,.person-max{
	width: 270px;
	height: 360px;
}



.imgHover:hover{
	cursor: pointer;
}

#login{
	cursor: pointer;
}
#CloseSession{
	cursor: pointer;
}
